<p class="site-intro">
    Hello, thanks for stopping by. I'm yijing. <br>
    <br>
    I'm a phd candidate at <a href="https://networkdatascience.ceu.edu/">the Department of Network and Data Science, Central European University</a>. 
    I'm currently visiting <a href="https://www.asc.upenn.edu/research/centers/center-for-information-networks-and-democracy">the Center for Information Networks and Democracy, University of Pennsylvania</a>. 
    I received my masters from <a href="https://www.si.umich.edu/">the School of Information, University of Michigan</a>. <br>
    <br>
    I study political belief system and online political behaviors. <br>
    I want to understand how these two interact. <br>
    I work with social media data (a lot) and survey data (a bit). <br>
    I build networks and use computational models to explore structural patterns. <br>
    I love to talk about data access and discovering new bizzare Internet corners. <br>
    <br>
    That's quite a lot of sentences starting with I. It would be nice to know you too. 
    Feel free to say hi via [myfirstname]2022 at gmail dot com. 
    Or, if you'd prefer to explore quietly, here's my <a href="https://drive.google.com/file/d/1OvDPOk3G8FRHi-r6-xUnTHk-asVGmfQR/view?usp=sharing">resume</a>.
    I sometimes <a href="https://x.com/yijingch">tweet</a> and <a href="https://www.instagram.com/yijinghere/">post photos</a>, like every other online kid. 
</p>
