<p class="site-intro">
    Hello, thanks for stopping by. I'm yijing. <br>
    <br>
    <img src="{{ '/assets/images/logo-0925.gif' | prepend: site.url }}" alt="personal logo" width="500"><br>
    I am currently a <a href="https://www.asc.upenn.edu/people/faculty/yijing-chen-phd">Knight postdoctoral fellow</a> at the <a href="https://infodem.upenn.edu/">Center on Media, Technology, and Democracy</a>, University of Pennsylvania. 
    Before this, I received a <a href="https://www.ceu.edu/academics/degrees/phd-network-science#program-overview">Ph.D. in Network Science</a> at Central European University, and an <a href="https://www.si.umich.edu/programs/master-science-information">M.S. in Information Science</a> at the University of Michigan. <br>
    <br>
    About my research:
    I'm broadly focusing on online political communication, political polarization, and belief systems.
    Method wise, I'm interested in developing computational tools (especially network models) and incorporating diverse datasets to observe online political communication.<br>
    <br>
    The question I'm trying to empirically address:
    How are political divides incorporated, intensified, or potentially bridged through the social structures embedded in contemporary sociotechnical systems?<br>
    <br>
    Feel free to say hi via [myfirstname]2022 at gmail dot com. 
    Or, if you'd prefer to explore quietly, here's my latest <a href="https://drive.google.com/file/d/1nGzJOWJ9q7JEnjq79_elZUVoVXwMtsek/view?usp=sharing">resume</a>.
    I sometimes <a href="https://x.com/yijingch"><s>tweet</s></a> <a href="https://bsky.app/profile/yijingch.bsky.social">skeet</a> and <a href="https://www.instagram.com/meinebackmischung/">post photos</a>, like every other online kid. 
</p>
