<p class="site-intro">
    Hello, thanks for stopping by. I'm yijing. <br>
    I'm a phd candidate at the Department of Network and Data Science, Central European University. <br>
    I'm currently visiting the Center for Information Networks and Democracy, University of Pennsylvania. <br>
    I received my masters from the School of Information, University of Michigan. <br>
    <br>
    I study political belief system and online political behaviors. <br>
    I want to understand how these two interact. <br>
    I work with social media data (a lot) and survey data (a bit). <br>
    I love to talk about data access and discovering new bizzare Internet corners. <br>
    <br>
    That's quite a lot of sentences starting with I. It would be nice to know you too. <br>
    Feel free to say hi via [myfirstname]2022 at gmail dot com. <br>
    Or, if you'd prefer to explore quietly, I sometimes <a href="https://x.com/yijingch">tweet</a> and <a href="https://www.instagram.com/yijinghere/">post photos</a>, like every other online kid. 
</p>
